@include media($desktop) {
    /* 12 COLUMN LAYOUT
    */
    // body:before {
    //     content: 'DESKTOP :: ' + $grid-columns
    // }
    body {
        @include outer-container();
        // max-width: $desktop-size;
        margin: 0 auto;
    }

    $margin: 17%;

    header {
        @include span-columns(12);
        @include omega();
        // allow for content and aside to overlay
        margin-bottom: -$margin;

        #site-logo {
          @include span-columns(10 of 12);
        }

        #social-networks {
            @include span-columns(2 of 12);
            // @include display-element();
        }
    }

    @include direction-context(right-to-left) {
      #main {
        @include span-columns(9);
        @include omega();
        // @include display-element();
      }
      #sidebar {
        // `collapse` display adds gutter width to total width
        @include span-columns(2.75, block-collapse);
        margin-top: $margin;
      }
    }

    article.card {
        padding: 1.5rem;
        // @include show-baseline-grid();

        p {
            font-family: map-get($font-stack, primary);
            font-size: 1rem;
            line-height: golden-height(1rem);
            margin:0;
        }

        h1 {
            $font-size: map-get($type-sizes, alpha) / map-get($type-scales, desktop);
            font-family: map-get($font-stack, primary);
            font-size: $font-size;
            line-height: golden-height($font-size);
            margin: 0;
        }
        h2 {
            $font-size: map-get($type-sizes, beta) / map-get($type-scales, desktop);
            font-family: map-get($font-stack, primary);
            font-size: $font-size;
            line-height: golden-height($font-size);
            margin: 0;
        }
        h3 {
            $font-size: map-get($type-sizes, gamma) / map-get($type-scales, desktop);
            font-family: map-get($font-stack, primary);
            font-size: $font-size;
            line-height: golden-height($font-size);
            margin: 0;
        }
    }
}