@include media($desktop) {
    /* 12 COLUMN LAYOUT
    */
    body:before {
        content: 'DESKTOP :: ' + $grid-columns
    }
    body {
        max-width: $desktop-size;
        margin: 0 auto;
        @include outer-container();
    }

    header {
        @include span-columns(12);
        @include display-element();
        // margin-bottom: -10%;

        #site-logo {
          @include span-columns(6 of 12);
          // @include display-element();
          img {
            padding-top: 1rem;
            padding-left: 1rem;
          }
        }

        #site-description {
            @include span-columns(4 of 12);
            @include shift(1.5);
            // @include display-element();
            text-align: center;
            padding-top: 8%;

            h3 {
                font-size: 1.5rem;
                line-height: 1.618rem;
                margin: 0;
                padding: 0;
            }

            @include fractal-divider();
        }
    }

    aside#sidebar {
        @include span-columns(3);
        @include display-element();

        img {
            width: 100%;
        }
    }

    #main {
        @include span-columns(9);
        @include omega();
        // @include shift(2.5);
        @include display-element();
    }


    footer {
        @include span-columns(12);
    }
}