@charset 'utf-8';

// $visual-grid: true !global;
// $visual-grid-color: #a7adba !global;

// Thoughtbot Toolchain
@import 'vendors/bourbon/all';
@import 'vendors/bitters/variables';   // Bitters needs to be imported before Neat
@import 'vendors/bitters/buttons';
@import 'vendors/neat/all';

// Base variables and mixins
@import 'base/include-media';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/colors';
@import 'base/fonts';

// Thoughtbot Overrides
// @import 'vendors-extensions/grid-settings';
@import 'vendors-extensions/typography';

@import 'base/typography';
@import 'helpers/syntax';

@import 'components/minimal-tables';
@import 'components/hyperlinks';
@import 'components/blockquote';
@import "components/searchbar";
@import 'components/tags';
@import 'components/lists';
@import 'components/hr';
@import 'components/cards';
@import 'components/pagination';
@import 'components/styled_header';
@import 'components/ribbon';
@import 'components/tree';
@import 'components/breadcrumb';
@import 'components/utilities';

// Custom added vendors
@import 'vendors/bigfoot/bigfoot-number';
@import 'vendors/codyhouse/vertical-timeline';

@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';
@import 'layout/main';
@import 'layout/footer';

@import 'pages/item';
@import 'pages/search-results';
@import 'pages/topic';
@import 'pages/topics';
@import 'pages/project';
@import 'pages/essay';

body {
	@include outer-container();

	@include media-exp(">two-column") {
	  // Ensure no more than ~66 characters per line
	  max-width: em(1024);
	}

	@include media-exp(">=one-column", "<=two-column") {
	  // Ensure no more than ~66 characters per line
	  max-width: em(768);
	}
}

.mjx-chtml { margin-right: 2px !important }

.fa-fractal {
  font-family: fractal;
  &::before {
    content: '\e800';
  }
}
