<aside id="banner">
  <section id="social">
      <a href="https://facebook.com/fractaledmind">
          <i class="fa fa-facebook fa-lg fa-fw"></i>
      </a>
      <a href="https://twitter.com/fractaledmind">
          <i class="fa fa-twitter fa-lg fa-fw"></i>
      </a>
      <a href="https://github.com/smargh">
          <i class="fa fa-github fa-lg fa-fw"></i>
      </a>
      <a href="mailto:stephen@fractaledmind.com">
          <i class="fa fa-envelope fa-lg fa-fw"></i>
      </a>
      <a href="https://gist.github.com/smargh">
        <i class="fa fa-rss fa-lg fa-fw"></i>
      </a>
  </section>

  <section id="search">
    <div class="search-bar">
      <form role="search">
        <input type="search" placeholder="Search..." />
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
        </button>
      </form>
    </div>
  </section>
</aside>
