<footer role="contentinfo">
  <div class="footer-info">
    <p>&copy; Copyright 2015 by Stephen Margheim</p>
    <p>Powered by <a href="https://middlemanapp.com">Middleman</a>.</p>
  </div>
</footer>
