<div class="navigation">
  <nav role="navigation">
    <ul class="navigation-menu">
      <li class="nav-link"><%= link_to "home", '/' %></li>
      <li class="nav-link"><%= link_to "about", '/about' %></li>
      <li class="nav-link"><%= link_to "projects", '/projects' %></li>
    </ul>
  </nav>

  <div id="search">
    <div class="searchbar">
      <form role="search" action="/search" method="get">
        <input class="search-term" type="search" placeholder="Search..." name="q" />
        <button class="search-submit" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
        </button>
      </form>
    </div>
  </div>
</div>