<aside id="sidebar">

  <hr class="fractal">

  <div id="recent-articles">
    <h5>Recent Posts</h5>
    <ul class="fa-ul">
      <% blog.articles.reject { |r| r.respond_to?(:slug) && r.slug.include?('jots') }[0...5].each do |post| %>
        <li>
          <i class="fa-li fa fa-chevron-right"></i>
          <%= link_to post.title, post %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="all-tags">
    <h5>Tags</h5>
    <ul>
      <!-- Add all Article tags -->
      <% blog.tags.each do |tag, articles| %>
        <li>
          <%= link_to "#{tag} (#{articles.size})", tag_path(tag),
              class: "badge no-hvr #{tag}" %>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
