$badge-font-size: 0.75em !default;

@mixin badge($color: $red) {
  // background-color: $color;
  color: $lighterest;
  border-radius: $badge-font-size;
  display: inline-block;
  font-family: map-get($font-stack, primary);
  font-size: $badge-font-size;
  font-weight: 500;
  line-height: 1;
  padding: 0.25rem 1rem;
  margin: 0 4px;

  &:hover, &:active {
      background-color: lighten($color, 10%);
  }
}
