.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: $dark !default;
  $base-border-radius: 6px !default;
  $base-background-color: $light !default;
  $base-spacing: 1.5em !default;
  $action-color: $blue !default;
  $base-link-color: $action-color !default;
  $dark-gray: $darker !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: $base-background-color;
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  $card-margin: 1em;

  @include flex-basis(15em);
  @include flex-grow(1);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;

  .card-image {
    overflow: hidden;
    max-height: 150px;

    img {
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  @include fractal-divider($card-header-background);

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

}
