.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  list-style: none;
  padding: 0;
  margin:0;
}
.cards.horizontal {
  @include flex-wrap(nowrap);
  @include flex-direction(column);

  .card {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-basis(0);

    .card-image {
      @include span-columns(4);
      @include align-self(center);
      padding: 1rem;
      margin-right: 0;
    }

    hr.fractal {
      width: 1rem;
      height: 15rem;
      align-self: center;
      margin: 0;
      border-right: thin solid #65737e;
      border-top: none;
      margin-right: 1rem;

      &::after {
        padding: 0 0.5em;
        top: 50%;
        right: 5px;
      }
    }

    .card-right {
      @include flex(1);
    }
  }
}

.cards.jots {
  margin-left: 1rem;
}

.card {
  $card-border-radius: 3px !default;
  $card-spacing: 1.5em !default;
  $card-font-color: $darkest !default;
  $card-border: 1px solid $lightest;
  $card-background: white;


  @include flex-basis(17em);
  @include flex-grow(1);
  @include transition(all 0.25s ease-in-out);
  background-color: $card-background;
  border-radius: $card-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($lightest, 10%);
  // with parent padding, = 25.888px (gutter) margins all 'round
  margin: 12.944px;
  position: relative;

  .card-link {
    @include transition(box-shadow 0.25s ease-in-out);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    &:focus,
    &:hover,
    &:active {
      cursor: pointer;
      // box-shadow: 0px 8px 16px darken($lightest, 40%);
    }
  }

  .card-tags {
    position: absolute;
    top: -0.75rem;
    right: 0;
    margin: 0 7.5px;

    li { display: inline-block; }

    .badge {
      @include badge();
    }
  }

  .card-image {
    overflow: hidden;
    padding-top: 1rem;
    max-height: 12rem; // padding-top + filler-space + img height
    max-width: 12rem;

    img {
      display: block;
      margin: 0 auto;
      height: 10rem;
    }

    #tag-filler-space {
      min-height: 1rem;
    }
  }

  .card-header {
    background-color: $card-background;
    color: $card-font-color;
    text-align:center;

    .card-title {
      $font-size: map-get($type-sizes, delta) / map-get($type-scales, desktop);
      display:block;
      text-transform:uppercase;
      font-size: $font-size;
      font-weight: bold;
      line-height: golden-height($font-size);
      color: $card-font-color;
      margin: 0 0.5rem;
      margin-top: 0.5rem;
    }

    .card-date {
      $font-size: map-get($type-sizes, delta) / map-get($type-scales, mobile);
      display: block;
      font-size: $font-size;
      line-height: golden-height($font-size);
      color: $light;
    }

    .card.horizontal & {
      @include span-columns(8);
    }
  }

  hr.fractal {
    @include fractal-divider($card-background);
  }

  .card-copy {
    $font-size: map-get($type-sizes, delta) / map-get($type-scales, mobile);
    color: $card-font-color;
    font-size: $font-size;
    line-height: golden-height($font-size);
    padding: 0 1em;
    margin: 0 0 ($card-spacing / 2);

    h1, h2, h3, h4, h5, h6 {
      font-size: 1.1rem;
      line-height: golden-height(1.1rem);
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}

.card.timeline-card {
  .card-copy {
    margin: 0.5em;
  }
}

#project-page {
  .card-image {
    margin: 2rem auto;
    margin-top: 0;
  }
}
