// Search bar (refills)
form[role=search] {
  width: 100%;
  // to keep from getting text and button too cramped
  // min-width: 7rem;
  // so that button can be properly positioned
  position: relative;

  input[type=search] {
    box-sizing: border-box;
    height: 2rem;
    width: 100%;
    font-size: 0.9em;
    font-style: italic;
    color: $dark;
    background: $light;
    border-radius: $base-border-radius * 2;
    border: 1px solid $dark;
    padding-right: 1em;
    margin: 0;
  }

  button[type=submit] {
    // position it relative to input's top-right
    position: absolute;
    right: 0;
    margin-right: 3%;
    top: 0;
    // need media queries to center
    margin-top: 0.25rem;
    padding: 0;
    width: 24px;
    height: 24px;
    // to center image
    padding: 4px;

    // override some Bitters styling
    background-color: $light;
    &:hover,
    &:focus {
      background-color: darken($light, 15%);
      color: #fff;
    }

    img {
      height: 16px;
      width: 16px;
      // to center image in buttom
      margin-bottom: 2px;
    }
  }
}