.truth-table {
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  line-height: 1.15;

  .atom-top {
    border-bottom:1px solid;
  }
  .atom-left {
    border-right:1px solid;
  }
  td, th {
    padding: 0.25em 0.5em;
  }
  td {
    border: 1px solid #ddd;
  }
}
