.monospace {
  font-family: Inconsolata, Monaco, Menlo, Consolas, Courier New, monospace !important
}
.font-1em {
  font-size: 1em !important
}
.bg-lightgrey {
  background-color: lightgrey !important
}
.bold {
  font-weight: bold !important
}
