aside#banner {
  @include span-columns(6.333 of 8);
  @include shift(1.667 of 8);
  height: 35%;
  position: absolute;
  bottom: 0;

  section#social {
    @include span-columns(3.1665 of 6.333);
    @include outer-container();
    @include vertical-align();
    text-align: center;
    padding-left: 10%;
    a {
      @include span-columns(2);
      color: $darkest;

      &:hover, &:active {
        color: $red;
      }
    }
  }

  section#search {
    @include span-columns(3.1665 of 6.333);
    @include vertical-align();
    @import "../components/searchbar";
  }
}