footer {
  $base-spacing: 1.5em !default;
  $footer-background: $lighterest;

  @include span-columns(12);
  @include omega();

  background: $footer-background;
  padding: $base-spacing;
  display: inline-block;
  width: 100%;
  border-top: 1px solid $base-border-color;
  margin-top: 2em;
  padding-bottom: 0;

  .footer-info {
    text-align: center;
  }
}
