header {
  @include span-columns(12 of 12);
  // allow #social-networks to be positioned
  position: relative;

  #site-logo {
    padding-left: 0.5rem;
    img { padding-top: 1rem; }
  }

  // @include media-exp(">two-column") {
  //   #site-logo { @include span-columns(8 of 12); }
  //   #social-networks { margin-top: 2%; }
  // }

  // @include media-exp("<one-column") {
  //   #site-logo { @include fill-parent(); }
  //   #social-networks { margin-top: 40%; }
  // }
}
