header {
  // relative so that site-info can be properly positioned
  // position: relative;

  // MAIN SITE LOGO (LEFT SIDE)
  #site-logo {
    img {
      padding-top: $golden-ratio*1rem;
      // padding-left: 1rem;
    }
  }

  #social-networks {
    text-align: right;
    padding-right: 1.5rem;
    //increased because img sits slightly below frame
    padding-top: $golden-ratio*1.5rem;

    li {
      display: inline-block;
      padding: 0 0.5rem;
    }

    a {
      color: $darkest;

      &:hover, &:focus, &:active {
          color: $red;
      }
    }
  }
}