#sidebar {
  h5 { margin-bottom: 0; }

  #comic {
    max-width: 20rem;
    text-align: center;
    margin:0 auto;
  }

  hr.fractal { @include fractal-divider(); }

  #recent-articles {
    li { font-size: 0.8rem; }
    .fa-li { top: .4em; }
  }

  #all-tags {
    ul { padding-left: 1rem; }
    li { display: inline-block; }

    .badge {
      @include badge();
      margin-bottom: 0.25rem;
    }
  }

  @include media-exp(">two-column") {
    // Force #sidebar to left-hand side
    @include direction-context(right-to-left) {
      // `collapse` display adds gutter width to total width
      @include span-columns(3.25 of 12, block-collapse);
      // move sidebar down below navigation
      margin-top: 1rem;
      // A little cushion
      padding-left: 1.5rem;
    }
  }

  @include media-exp(">=one-column", "<=two-column") {
    // #sidebar on bottom, not full-width
    @include centered-columns(9 of 12);
  }

  @include media-exp("<one-column") {
    @include centered-columns(10.5 of 12);
  }
}