#main > .card {
    // internal padding around text
    padding: 1rem 1.5rem;
    // for tag overflow
    padding-top: 3rem;

    h2#title {
      text-align: center;
      margin-bottom: 2rem;

      p {
        font-size: inherit;
        line-height: inherit;
      }
    }
}

