h2#all-tags {
	padding-top: 1rem;
	text-align: center;
}

.grid {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: transparent;

  @include media-exp(">two-column") {
    // force sidebar together
    margin-bottom: 24rem;
  }
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

a.grid-item {
  // display:block;
  width: 31.333%;
  padding-bottom: 15.6665%;
  padding-top: 15.6665%;
  overflow: hidden;
  float: left;
  background: #BBB;
  border-radius: 50%;
  margin: 1%;
  margin-top: -4%;
  line-height:31.333%;
  text-align:center;
  color:$lighterest;

  // Unvisited link
  &:link, &:visited {
    text-decoration: none;
    color: $lighterest;
  }
  // The user mouses over a link
  &:hover, &:focus, &:active {
    text-decoration: none;
    padding-top: 15.6665%;
  }
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
  margin-top: 1%;
}

.grid-item:nth-child(5n+4) {
  margin-left: 17.66667%;
}

.grid-item:nth-child(5n+6) {
  clear:left;
}

.grid-item:nth-child(5n+6):last-of-type {
  margin-left: 34.334%;
}

.grid-item:hover {
  @include transform(scale(1.1));
}

