$items: 6;
$item_width: percentage(((100 - ($items * 2)) / $items) / 100);
$item_n: $items * 2 - 1;


h2#all-tags {
	padding-top: 1rem;
	text-align: center;
}

.grid {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: transparent;

  @include media-exp(">two-column") {
    // force sidebar together
    margin-bottom: 24rem;
  }
}

.grid::after {
  content: "";
  display: block;
  clear: both;
}

a.grid-item {
  // display:block;
  width: $item_width;
  padding-bottom: ($item_width / 2);
  padding-top: ($item_width / 2);
  float: left;
  border-radius: 50%;
  margin: 1%;
  // margin-top: -4%;
  line-height: $item_width;
  text-align: center;
  color: $lighterest;
  display:table;

  // Unvisited link
  &:link, &:visited {
    text-decoration: none;
    color: $lighterest;
  }
  // The user mouses over a link
  &:hover, &:focus, &:active {
    text-decoration: none;
    padding-top: ($item_width / 2);
  }

  .n {
    position: absolute;
    background: #a9aaab;
    width: 25%;
    padding-bottom: 12.5%;
    padding-top: 12.5%;
    border-radius: 50%;
    top: 0;
    right: 1%;
  }
}

@for $i from 1 through $items {
  .grid-item:nth-child(#{$i}) {
    margin-top: 1%;
  }
}


.grid-item:nth-child(#{$item_n}n+#{$items + 1}) {
  margin-left: (($item_width / 2) * 1.1);
}

.grid-item:nth-child(#{$item_n}n+#{$items * 2}) {
  clear:left;
}

.grid-item:nth-child(#{$item_n}n+#{$items * 2}):last-of-type {
  margin-left: ($item_width * 1.1);
}

.grid-item:hover {
  @include transform(scale(1.1));
}

