<article class="card" id="about-page">
  <h2 id="title">About</h2>

  <p>Welcome to my website. I'm honored and gladdened that you've found your way to this small corner of the internet. This site represents me&mdash;my mind, my thoughts, my oddities&mdash;so it seems appropriate to grant you some sense of who I am and what this is.</p>

  <p>I <em>am</em> simply me. I don't mean to be glib, but it is rather difficult to label who and what I am. Much easier is the task of describing what I do and what I have done. I currently write and program on a freelance basis. Just recently, I completed my Masters in Classical Studies (that's Greek and Latin language, literature, history, culture, philosophy, etc.) at the University of Pennsylvania. As an academic, I focused on Greek philosophy, Roman poetry, and philology in general. As this website should attest, I love words and the ideas they signify&mdash;Classics was my first foray into this fascination. Aside from these "professional" pursuits, I also do marriage. I say <em>do</em> marriage as it is very much an active, daily work, but I truly do love every moment of it. Beyond these, I do philosophical cogitating, mathematical tinkering, TV watching, podcast listening, and the occasional sports playing.</p></p>

  <p>In a poor nutshell, this is who I am. This website aims to be an honest portrayal of this complex, many-interests-bearing individual. Thus, the articles, projects, and topics range far and wide. You will find within computer code, philosophical treatises, learning resources, and various small fascinations. And I call this website <strong>Fractaled Mind</strong> precisely because it contains the seemingly chaotic, yet essentially interconnected thoughts and pursuits of my mind.</p>

  <p>From the editor,</p>
  <p>Stephen Margheim</p>

  <hr>

  <p>For those of interest, this website uses the gorgeous <a href="https://www.behance.net/gallery/17504367/Free-font-family-SkolaSans">SkolaSans</a> font. The logo melds the infinitely fascinating <a href="http://en.wikipedia.org/wiki/Dragon_Curve_fractal">Dragon Curve fractal</a> with the elegance of the <a href="https://www.myfonts.com/fonts/talbot/kelso/">Kelso</a> font. It was designed by <a href="http://www.runningfoxdesigns.com/">Running Fox Designs</a>. This website is built on top of <a href="https://middlemanapp.com/">Middleman</a> and uses <a href="http://bourbon.io/">Bourbon</a>, <a href="http://neat.bourbon.io/">Neat</a>, and <a href="http://refills.bourbon.io/">Refills</a> as its backbone.</p>

</article>