---
pageable: true
per_page: 5
---

<% posts_date_sorted = posts.sort_by { |a| a.date }.reverse %>
<ul class="cards" style="flex-direction:column;justify-content:initial;">
  <% posts_for_page(posts_date_sorted, page_number, per_page).each do |essay| %>
    <%= partial "partials/card_for_pdf",
                locals: { item: essay } %>
  <% end %>
</ul>

<% if paginate && posts.count > per_page %>
  <div class="pagination">
    <%= pagination_links(posts.count, per_page) %>
  </div>
<% end %>
