<% posts_date_sorted = posts.sort_by { |a| a.date }.reverse %>
<section class="timeline">
  <% posts_date_sorted.each do |essay| %>
    <div class="timeline-instance">
      <div class="timeline-point"></div>
      <div class="card timeline-card">
        <%= link_to '', essay.slug, class: "card-link no-hvr" %>
        <div class="card-header">
          <h3 class="card-title">
            <%= essay.title %>
          </h3>
          <h5 class="card-date">
            <%= essay.date.strftime('%d %B %Y') %>
          </h5>
        </div>
        <hr class="fractal">
        <div class="card-copy">
          <%= markdownify essay.summary %>
        </div>
      </div>
    </div>
  <% end %>
</section>
