---
pageable: false
---

<% posts_date_sorted = posts.sort_by { |a| a.date }.reverse %>
<section class="timeline">
  <% posts_date_sorted.each do |essay| %>
    <div class="timeline-instance">
      <div class="timeline-point"></div>
      <div class="card timeline-card">
        <div class="card-header">
          <h5 class="card-date">
            <%= essay.date.strftime('%d %B %Y') %>
          </h5>
        </div>
        <div class="card-copy">
          <%= markdownify essay.title %>
        </div>
      </div>
    </div>
  <% end %>
</section>
