<div>
  <h2 id="all-tags">All Topics</h2>

  <div class="grid">
    <% blog.tags.each do |tag, articles| %>
      <% link_to tag_path(tag), class: "grid-item no-hvr #{tag}" do %>
        <div>
          <span><%= tag %></span>
          <span class='n'><%= articles.size %></span>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
