<div class="card" id="topic-page">
  <h2 id="title">Articles tagged '<%= tagname %>'</h2>

  <ul class="fa-ul">
    <% articles.each do |article| %>
      <li>
        <i class="fa-li fa fa-chevron-right"></i>
        <%= link_to article.title, article %> <span>(<%= article.date.strftime('%b %e') %>)</span>
      </li>
    <% end %>
  </ul>
</div>
