<div>
  <h2 id="all-tags">All Topic Sections</h2>

  <ul class="cards">
    <% tag_roots.each do |root| %>
      <li class="card">
        <div class="card-body tree">
          <%= content_tag(:ul) do
                visit_children(root, tag_tree)
              end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
