// PROTOTYPING HELPERS
@mixin show-baseline-grid() {
  @include background-image(linear-gradient(top, #fff 95%, #000 100%));
  // background-size: 100% $base-line-height*1rem;
  background-size: 100% 26px;
}

@mixin display-element($element: 0) {
  // generate three random color codes
  $red: random(256)-1;
  $green: random(256)-1;
  $blue: random(256)-1;

  // If no element is given, simply add background
  @if $element == 0 {
    // set the background to a semi-transparent color
    background: rgba($red, $green, $blue, 0.5);
  // If element is given, apply background to it
  } @else {
    #{$element} {
      background: rgba($red, $green, $blue, 0.5);
    }
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin rotate($deg) {
    transform: rotate(#{$deg} deg);
}

@mixin show-logo($version: 'full') {
  @if $version == 'full' {
    #site-logo {
        img.image_full { display: block; }
        img.image_mobile { display: none; }
    }
  } @else {
    #site-logo {
        img.image_full { display: none; }
        img.image_mobile { display: block; }
    }
  }
}
