<div class="card-header">
  <h3 class="card-title">
    <%= markdownify item.title %>
  </h3>
  <% if item.data['subtitle'] %>
    <h5 class="card-subtitle">
      <%= markdownify(item.data['subtitle']) %>
    </h5>
  <% end %>
  <h5 class="card-date">
    <%= item.date.strftime('%d %B %Y') %>
  </h5>
</div>
