// The Ocean base16 scheme from chriskempson
// Grey scale
$darkerest:  #2b303b;
$darkest:    #343d46;
$darker:     #4f5b66;
$dark:       #65737e;
$light:		 #a7adba;
$lighter:    #c0c5ce;
$lightest:   #dfe1e8;
$lighterest: #eff1f5;

// Rainbow
$red:        #bf616a;
$orange:     #d08770;
$yellow:     #ebcb8b;
$green:      #a3be8c;
$blue:       #96b5b4;
$indigo:     #8fa1b3;
$violet:     #b48ead;
$brown:      #ab7967;

$rainbow-list: $red $orange $yellow $green $blue $indigo $violet $brown;

// Social
$facebook: #3b5998;
$twitter: #4099FF;
$github: #171515;
$rss: #FF6600;