// The Ocean base16 scheme from chriskempson
// Grey scale
$darkerest:  #2b303b;
$darkest:    #343d46;
$darker:     #4f5b66;
$dark:       #65737e;
$lighterest: #a7adba;
$lightest:   #c0c5ce;
$lighter:    #dfe1e8;
$light:      #eff1f5;

// Rainbow
$red:        #bf616a;
$orange:     #d08770;
$yellow:     #ebcb8b;
$green:      #a3be8c;
$blue:       #96b5b4;
$indigo:     #8fa1b3;
$violet:     #b48ead;
$brown:      #ab7967;
