<% link_to '/articles.html', class: 'hover-tile-container' do %>
  <div class="hover-tile hover-tile-visible neato-header">
    <h1>Articles</h1>
    <h4>A</h4>
  </div>
  <div class="hover-tile hover-tile-hidden">
    <div>
      <p>General posts on various topics.</p>
    </div>
  </div>
<% end %>

<% link_to '/projects.html', class: 'hover-tile-container' do %>
  <div class="hover-tile hover-tile-visible neato-header">
    <h1>Projects</h1>
    <h4>P</h4>
  </div>
  <div class="hover-tile hover-tile-hidden">
    <div>
      <p>Code repositories.</p>
    </div>
  </div>
<% end %>

<% link_to '/jots.html', class: 'hover-tile-container' do %>
  <div class="hover-tile hover-tile-visible neato-header">
    <h1>Jots</h1>
    <h4>J</h4>
  </div>
  <div class="hover-tile hover-tile-hidden">
    <div>
      <p>Micro-blogging.</p>
    </div>
  </div>
<% end %>
